@mixin content-media {
  * + &,
  & + * {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

@mixin small-italic {
  color: $color-boulder;
  font-family: $font-family-serif;
  font-size: .85rem;
  font-style: italic;
  line-height: 1.45;

  @include mq(tablet) {
    font-size: .75rem;
  }
}
