$font-family-serif: Times, serif;
$font-family-sans-serif: "Open Sans Condensed", sans-serif;
$font-family-email: "Open Sans", sans-serif;
$font-family-monospace: "Ubunto Mono", monospace;

$color-boulder: rgb(124, 124, 124);
$color-cod-gray: rgb(8, 8, 8);
$color-athens-gray: rgb(246, 246, 247);
$color-shuttle-gray: rgb(138, 154, 152);
$color-mercury: rgb(225, 225, 225);
$color-tundora: rgb(68, 68, 68);
$color-laser-lemon: rgb(240, 255, 99);
$color-mirage: rgb(92, 104, 117);
$color-cood: rgb(30, 32, 35);
$color-gray-bright: rgb(30, 32, 35);

$mq-breakpoints: (
  small:        400px,
  medium:       590px,
  tablet:       760px,
  desktop:      980px,
  desktopwide:  1200px,
  wide:         1350px
);
