* {
  box-sizing: border-box;
}

body {
  color: $color-cod-gray;
  font-family: $font-family-serif;
  font-size: 16px;
  line-height: (30 / 20);
  margin: 0;
  padding: 0;
  width: 100vw;

  @include mq(small) {
    font-size: 18px;
  }

  @include mq(tablet) {
    font-size: 20px;
  }
}

p {
  margin-bottom: 0;
  margin-top: 0;

  & + & {
    margin-top: 1rem;
  }

  & + .image,
  .image + & {
    margin-top: 2.5rem;
  }
}

a,
a:active,
a:visited {
  border-bottom: 1px solid rgba($color-gray-bright, .3);
  color: $color-gray-bright;
  text-decoration: none;
  transition: all ease 0.3s;
}

a:focus,
a:hover,
a:active:focus,
a:active:hover,
a:visited:focus,
a:visited:hover {
  border-color: $color-gray-bright;
}
