@font-face {
  font-display: swap;
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'),
       local('OpenSansCondensed-Bold'),
       local('Open Sans Condensed'),
       url(#{$font-path}open-sans-condensed-bold.woff2) format('woff2'),
       url(#{$font-path}open-sans-condensed-bold.woff) format('woff'),
       url(#{$font-path}open-sans-condensed-bold.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'),
       local('OpenSans-Regular'),
       local('Open Sans'),
       url(#{$font-path}open-sans-regular.woff2) format('woff2'),
       url(#{$font-path}open-sans-regular.woff) format('woff'),
       url(#{$font-path}open-sans-regular.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'),
       local('UbuntuMono-Regular'),
       url(#{$font-path}ubuntu-mono.woff2) format('woff2'),
       url(#{$font-path}ubuntu-mono.woff) format('woff'),
       url(#{$font-path}ubuntu-mono.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'yrsa';
  font-style: normal;
  font-weight: 400;
  src: local('yrsa'),
       url(#{$font-path}yrsa-regular.woff2) format('woff2'),
       url(#{$font-path}yrsa-regular.woff) format('woff'),
       url(#{$font-path}yrsa-regular.ttf) format('truetype');
}
