@font-face {
  font-display: swap;
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(#{$font-path}Open-Sans-Condensed-Bold.eot);
  src: local('Open Sans Condensed Bold'),
       local('OpenSansCondensed-Bold'),
       local('Open Sans Condensed'),
       url(#{$font-path}Open-Sans-Condensed-Bold.woff2) format('woff2'),
       url(#{$font-path}Open-Sans-Condensed-Bold.woff) format('woff'),
       url(#{$font-path}Open-Sans-Condensed-Bold.ttf) format('truetype'),
       url(#{$font-path}Open-Sans-Condensed-Bold.svg#OpenSansCondensed) format('svg'),
       url(#{$font-path}Open-Sans-Condensed-Bold.eot?#iefix) format('embedded-opentype');
}
