@font-face {
  font-display: swap;
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(#{$font-path}open-sans-condensed-bold.eot);
  src: local('Open Sans Condensed Bold'),
       local('OpenSansCondensed-Bold'),
       local('Open Sans Condensed'),
       url(#{$font-path}open-sans-condensed-bold.woff2) format('woff2'),
       url(#{$font-path}open-sans-condensed-bold.woff) format('woff'),
       url(#{$font-path}open-sans-condensed-bold.ttf) format('truetype'),
       url(#{$font-path}open-sans-condensed-bold.svg#OpenSansCondensed) format('svg'),
       url(#{$font-path}open-sans-condensed-bold.eot?#iefix) format('embedded-opentype');
}
