.aside {
  @include content-media();
  @include small-italic();

  @include mq(tablet) {
    float: right;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    width: 12rem;
  }

  @include mq(desktop) {
    margin-right: -8rem;
    width: 22rem;
  }

  @include mq(desktopwide) {
    margin-right: -22rem;
    width: 27rem;
  }

  @include mq(wide) {
    margin-right: -22rem;
    width: 28rem;
  }

  &--start {
    @include mq(tablet) {
      float: left;
      margin-bottom: 2rem;
      margin-left: 0;
      margin-right: 2rem;
      margin-top: 2rem;
    }

    @include mq(desktop) {
      margin-left: -8rem;
    }

    @include mq(wide) {
      margin-left: -12rem;
    }
  }

  .image + .image {
    margin-top: 1.5rem;
  }
}
