.aside {
  @include content-media();
  @include small-italic();

  @include mq(tablet) {
    float: right;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-top: 0;
    width: 12rem;
  }

  @include mq(desktop) {
    width: 14rem;
  }

  @include mq(wide) {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: -20rem;
    width: 18rem;
  }

  &--start {
    @include mq(tablet) {
      float: left;
      margin-bottom: 2rem;
      margin-left: 0;
      margin-right: 2rem;
      margin-top: 2rem;
    }

    @include mq(wide) {
      margin-left: -4rem;
    }
  }
}
