.chapter-subtitle {
  font-family: $font-family-sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: .8rem;
  margin-top: 2.5rem;

  @include mq(tablet) {
    margin-bottom: 1rem;
    margin-top: 4rem;
  }
}
