.content-container {
  max-width: 44rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @include mq(tablet) {
    padding-left: 0;
    padding-right: 0;
  }

  @include mq(desktop) {
    margin-left: 12rem;
  }

  &--extended {
    @include content-media();

    @include mq(desktop) {
      max-width: 60rem;
    }
  }

  &--huge-space {
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 100%;
  }

  > p {
    color: $color-tundora;
    font-size: 1.1rem;

    @include mq(medium) {
      font-size: 1.2rem;
    }

    @include mq(wide) {
      font-size: 1.2rem;
      line-height: 1.6;
    }

    > a,
    > a:active,
    > a:visited {
      border-bottom: 1px solid rgba($color-gray-bright, .3);
      color: $color-gray-bright;
      text-decoration: none;
      transition: all ease 0.3s;
    }

    > a:focus,
    > a:hover,
    > a:active:focus,
    > a:active:hover,
    > a:visited:focus,
    > a:visited:hover {
      border-color: $color-gray-bright;
    }
  }
}
