.header {
  @include mq(tablet) {
    background-color: rgb(0, 0, 0);
    position: relative;
  }

  &__image {
    line-height: 0;
    margin: 0;

    > img {
      height: auto;
      width: 100%;
    }

    > figcaption {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem 1.5rem 1rem;

    @include mq(tablet) {
      background-image: linear-gradient(to top, rgba(12, 21, 32, 0.85), transparent);
      bottom: 0;
      color: white;
      left: 50%;
      padding-bottom: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 2rem;
      position: absolute;
      transform: translateX(-50%);
      width: 100%;
    }
  }

  &__title {
    font-family: $font-family-sans-serif;
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 0;
    max-width: 50rem;

    @include mq(small) {
      font-size: 2.2rem;
    }

    @include mq(tablet) {
      font-size: 2.2rem;
      margin-left: 4rem;
      margin-bottom: .45rem;
    }

    @include mq(desktop) {
      font-size: 3rem;
      margin-left: 11rem;
      margin-bottom: 1.2rem;
    }
  }

  &__intro {
    font-family: $font-family-sans-serif;
    font-size: 1.15rem;
    line-height: 1.45;
    max-width: 42rem;

    @include mq(tablet) {
      font-size: 1rem;
      margin-left: 4rem;
      max-width: 40rem;
    }

    @include mq(desktop) {
      font-size: 1.25rem;
      margin-left: 11rem;
      max-width: 48rem;
    }
  }

  &__date {
    display: block;
    font-size: 1rem;
    padding-top: 2rem;

    @include mq(tablet) {
      padding-top: .75rem;
    }

    @include mq(desktop) {
      padding-top: 1.5rem;
    }
  }
}
