.header {
  position: relative;

  &__image {
    margin-left: 0;
    margin-right: 0;

    > img {
      height: auto;
      width: 100%;
    }
  }

  &__content {
    bottom: 2rem;
    left: 50%;
    color: white;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
  }

  &__title {
    font-family: $font-family-sans-serif;
    font-size: 2.8rem;
  }

  &__intro {
    font-family: $font-family-sans-serif;
  }
}
