.language-select {
  align-self: flex-end;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 1.5rem;
  margin-top: 0;
  padding: 0;

  > * {
    display: inline-block;
  }

  &__entry {
    color: currentColor;
    display: inline-block;
    margin-bottom: .75rem;
    padding: .75rem .3rem 0 .3rem;
    text-decoration: none;

    &:hover,
    &:focus {
      border-bottom: 3px solid $color-cod-gray;
    }
  }

  span#{&}__entry {
    border-bottom: 3px solid $color-cod-gray;
    color: $color-cod-gray;
  }
}
