.media-max {
  @include content-media();
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  .image {
    @include mq(desktop) {
      display: flex;
      flex-direction: column;
    }
  }

  .image__caption {
    @include mq(desktop) {
      align-self: flex-end;
      margin-left: auto;
      margin-top: 1rem;
      max-width: 30rem;
    }
  }

  &--multiple-media {
    display: flex;
    flex-direction: column;

    @include mq(tablet) {
      flex-direction: row;
    }

    > *:first-child {
      margin-right: 1.5rem;

      @include mq(tablet) {
        width: 33.33%;
      }
    }

    > *:last-child {
      @include mq(tablet) {
        width: 66.66%;
      }
    }

    .image__caption {
      display: none;
    }
  }
}
