.media-max {
  @include content-media();
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  &--multiple-media {
    display: flex;

    > *:first-child {
      margin-right: 1.5rem;
      width: 33.33%;
    }

    > *:last-child {
      width: 66.66%;
    }
  }
}
