.media-full {
  @include content-media();

  @include mq(tablet) {
    transform: translateX(1rem);
  }

  @include mq(desktop) {
    transform: translateX(2rem);
  }

  > .image {
    @include mq(wide) {
      position: relative;
    }
  }

  .image__caption {
    @include mq(wide) {
      bottom: 0;
      left: 100%;
      position: absolute;
      transform: translateX(1rem);
      width: 12rem;
    }
  }
}
