.media-max {
  @include content-media();
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  &--multiple-media {
    display: flex;
    flex-direction: column;

    @include mq(tablet) {
      flex-direction: row;
    }

    > *:first-child {
      margin-right: 1.5rem;

      @include mq(tablet) {
        width: 33.33%;
      }
    }

    > *:last-child {
      @include mq(tablet) {
        width: 66.66%;
      }
    }
  }
}
