.navigation {
  border-bottom: 1px solid $color-mercury;
  border-top: 1px solid $color-mercury;
  color: $color-boulder;
  display: none;
  flex-direction: column;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
  overflow-x: hidden;
  width: 100vw;

  @include mq(tablet) {
    display: flex;
    flex-direction: row;
  }

  &__entry {
    color: currentColor;
    display: flex;
    font-size: .85rem;
    justify-content: center;
    margin: 0 1rem .5rem 1rem;
    padding-top: .5rem;
    text-decoration: none;

    @include mq(tablet) {
      margin: 0 1.2rem .75rem 1.2rem;
      padding-top: .75rem;
    }

    @include mq(desktop) {
      font-size: .95rem;
    }

    &:hover,
    &:focus {
      color: darken($color-boulder, 20%);
      text-decoration: none;
    }

    & + & {
      border-top: 1px solid $color-mercury;

      @include mq(tablet) {
        border-top: 0;
      }
    }
  }

  &__entry-count {
    margin-right: .25rem;

    &:before {
      content: "#";
      margin-right: .05rem;
    }
  }
}
