.navigation {
  background-color: white;
  border-bottom: 1px solid $color-mercury;
  border-top: 1px solid $color-mercury;
  color: $color-shuttle-gray;
  display: none;
  flex-direction: column;
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  justify-content: center;
  margin-bottom: 5rem;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 150;

  @include mq(tablet) {
    display: flex;
    flex-direction: row;
  }

  &__entry {
    border-bottom: 3px solid white;
    color: currentColor;
    display: flex;
    font-size: .85rem;
    justify-content: center;
    margin: 0 1rem .2rem 1rem;
    padding-bottom: .3rem;
    padding-top: .5rem;
    text-decoration: none;

    @include mq(tablet) {
      font-size: .9rem;
      margin: 0 .9rem .35rem .9rem;
      padding-top: .75rem;
    }

    @include mq(desktop) {
      font-size: .95rem;
      margin-left: 1.65rem;
      margin-right: 1.65rem;
    }

    &:hover,
    &:focus {
      color: darken($color-boulder, 20%);
      text-decoration: none;
      transition: all ease .3s;
    }

    &--active {
      border-color: $color-cod-gray;
      color: $color-cod-gray;
    }

    & + & {
      border-top: 1px solid $color-mercury;

      @include mq(tablet) {
        border-top: 0;
      }
    }
  }

  &__entry-count {
    margin-right: .25rem;

    &:before {
      content: "#";
      margin-right: .05rem;
    }
  }
}
