.quote {
  display: flex;
  flex-direction: column;
  font-family: $font-family-sans-serif;
  font-size: 1.2rem;
  line-height: 1.35;
  margin: 1rem;

  @include mq(small) {
    font-size: 1.4rem;
  }

  @include mq(tablet) {
    font-size: 1.6rem;
    margin: 4rem auto;
    transform: translateX(4rem);
    width: 40rem;
  }

  @include mq(desktop) {
    font-size: 1.8rem;
    margin: 6rem auto;
    width: 48rem;
  }

  &__author {
    align-self: flex-end;
    font-size: 1rem;
    font-style: italic;
    margin-left: auto;
    margin-top: .5rem;

    @include mq(tablet) {
      font-size: 1.2rem;
      margin-top: 2.5rem;
    }
  }

  &__author-name {
    display: block;
  }

  &__author-role {
    font-family: $font-family-serif;
  }
}
