.quote {
  font-family: $font-family-sans-serif;
  font-size: 1.2rem;
  line-height: 1.35;
  margin: 1rem;

  @include mq(small) {
    font-size: 1.4rem;
  }

  @include mq(tablet) {
    font-size: 1.6rem;
    margin: 4rem 1.5rem;
  }

  @include mq(desktop) {
    font-size: 1.8rem;
    margin: 6rem 2rem;
  }

  &__author {
    font-style: italic;

    &:before {
      content: '—';
    }
  }

  &__author-name {
    display: block;
  }

  &__author-role {
    font-family: $font-family-serif;
  }
}
