.thread-expand {
  background-color: $color-mirage;
  border: none;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: none;
  font-family: $font-family-sans-serif;
  font-size: .9rem;
  left: 50%;
  letter-spacing: .05rem;
  padding: .5rem 1rem;
  position: absolute;
  text-transform: uppercase;
  transform: translate(-50%, 50%);
  z-index: 100;

  &:hover,
  &:focus {
    background-color: darken($color-mirage, 15%);
  }

  .thread--collapsed & {
    display: inline-block;
  }
}
